html{
				font-family:arial;
				font-size:16px;
}
*{
				margin:0;
				padding: 0;
}
header{
				width: 100%;
			 
}
.header{
      width: 100%;
				background: #03396c;
				position:sticky;
				top:0;
				border-bottom:3px solid  #6497b1;
}

header .header span{
				font-size: 250%;
				font-family: 'Bebas Neue', cursive;
				text-align:center;
				padding: 2% 5%;
				height: 10%;
				color: #fff;
			
	    display:inline;
}
#portada{
     background: relative;
			background-image: url('fondo.webp');
			background-size: cover;
			height: 750px;
}
#portada h1{
				color: #fff;
				text-align: center;
				text-shadow:1px 1px 0px #000;
				font-size: 500%;
				padding-top: 200px;
}
.portada{
				color: #fff;
				text-align: center;
}

#portada div{
      background: ;
				height: 150px;
				padding: 60px 0 0 30px;
				display:flex;
				
				margin-top: 30px;
				justify-content:center;
				margin: auto;
				width: 90%;
}

#portada a{
				background: #6497b1;
				padding: 15px 20px;
				display:flex;
				justify-content:center;
				color: #fff;
				font-size: 120%;
				text-align: center;
				border-radius: 15px;
			 text-decoration:none;
			 margin: ;
			 width: 75%;
}
#portada a:hover{
				background: rgba(0,0,9,.3);
				
}

.izquierda{
      width: 50%;
				float:left;
}
.derecha{
				float:right;
				width: 50%;
}

#cuerpo{
				padding: 0px;
				
}
#cuerpo article{
				padding: 20px;
				text-align:center;
}
#carousel{
				border-top:3px solid #6497b1;
				background: #b3cde0 ;
				margin: 0;
				padding: 0;
				border-bottom:3px solid #6497b1;
}
.carousel{
				width: 95%;
				margin: auto;
				overflow:hidden;
				max-height: 300px;
				max-width: 500px;
				border-radius: 10px;
}
.carousel ul{
      display: flex;
				padding: 0;
				width: 300%;
				
				animation: cambio 12s infinite ;
				
}
.carousel li{
				 list-style:none;
				 width: 100%;
}

.carousel img{
				width: 100%;
				height: 100%;
}

@keyframes cambio {
				
				0%{margin-left: 0;}
				15%{margin-left: 0;} 
				
				20%{margin-left: -100%;}
				40%{margin-left: -100%;}
				
				45%{margin-left: -200%;}
				70%{margin-left: -200%;}
				
			  75%{margin-left: -100%;}
				90%{margin-left: -100%;} 
}

header label img{
				max-height: 35px;
				max-width: 35px;
}
header{
				background: #03396c;
}
#menu{
				display:none;
}
header label {
				display:none;
				width: 35px;
				height: 35px;
				padding: 10px;
				
}
header label:hover {
				cursor: pointer;
				background: rgba(0,0,0,.3);
}

.contenedor ul{
				padding: 0;
				margin: 0;
				list-style:none;
				display:flex;
				justify-content:flex-end;
}
.contenedor ul li:hover{
				background: rgba(0,0,0,.3);
}
.contenedor ul li a {
				display:flex;
				padding: 15px 20px;
				color: #fff;
				text-decoration:none;
}

@media (max-width: 780px){
				header label{
								display:inline-block;
				}
				.contenedor{
								position:absolute;
								background: #03396c;
								width: 70%;
								margin-left: -80%;
								transition:all 0.5s;
								margin-top: px;
				}
				.contenedor ul{
								flex-direction:column;
								border-bottom:3px solid #6497b1;
				}
				.contenedor li{
								
								border-right:3px solid #6497b1;
				}
				#menu:checked ~ .contenedor{
								margin-left: 0%;
				}

}
