main{
				margin: 0;
				
}
header h1{
			text-shadow:0 0 5px #000, 0 0 15px #000, 0 0 20px #000;
}
header label img{
				height: 30px;
				width: 30px;
}
.volverr{
				width: 100%;
				display:flex;
				justify-content:center;
}
.volver{
				text-decoration:none;
				text-align:center;
				color: #fff;
				border-radius: 10px;
				border:2px solid #fff;
				display:inline-block;
				padding: 20px;
				font-size: 130%;
				background: rgba(0,0,0,.8);
				
				margin-bottom: 50px;
}
body{
				margin: 0;
				font: 15px/1.5 Arial, Helvetica,sans-serif;
}

header{
				background: ;
				border-bottom:1px solid #fff;
}
#menu{
				display:none;
}
header label {
				
				width: 30px;
				height: 30px;
				padding: 10px;
}
header label:hover {
				cursor: pointer;
				background: rgba(0,0,0,.5);
}
.contenedor{
				background: rgba(0,0,0,.7);
}
.contenedor ul{
				padding: 0;
				margin: 0;
				list-style:none;
				display:flex;
				}
.contenedor ul li:hover{
				background: rgba(0,0,0,.5);
}
.contenedor ul li a {
				display:block;
				padding: 15px 20px;
				color: #fff;
				text-decoration:none;
} 

@media (max-width: 780px){
				header label{
								display:inline-block;
				}
				.descripcion ul li p{
				font-size:150%;
				text-align:center;
		font-family: 'Pacifico', cursive;
		text-shadow: 5px 5px 1px #000;
       }
       main{
				background: url('disenoweb.jpg');
				background-attachment: fixed;
				display: block;
				top:0;
				min-height: 1000px;
				background-size: cover;
				padding: 20px;
				
				margin-top:-240px;
}
				.contenedor{
								position:absolute;
								background: ;
								width: 70%;
								margin-left: -70%;
								transition:all 0.5s;
				}
				.contenedor ul{
								flex-direction:column;
								border:4px solid #fff;
								border-left:none;
								
				}
				.contenedor li{
								
				}
				
				#menu:checked ~ .contenedor{
								margin-left: 0%;
				}
				nav{
								display:block;
				}
				.tittle{
				color: #fff;
				font-size:250%;
				padding: 20px;
				display:inline;
				top:0;
				text-width: bold;
				justify-content:center;
}
}
@media (min-width:780px ){
				nav{
				display:block;
				}
				.descripcion ul li p{
				font-size:280%;
				text-align:center;
		font-family: 'Pacifico', cursive;
		text-shadow: 5px 5px 1px #000;
       }
				
				.tittle{
				color: #fff;
				font-size:500%;
				padding: 0px 200px  ;
				display:inline-block;
				top:0;
				text-width: bold;
				justify-content:center;
				
      }
      header label{
				display: inline-block;      
				padding: 20px 50px 50px 20px;								
								
				}
				header label img{
				height: 70px;
				width: 70px;
				
      }
				.contenedor{
								position:absolute;
								background: rgba(0,0,0,.7);
								width: 70%;
								margin-left: -70%;
								transition:all 0.5s;
				}
					.contenedor ul{
								flex-direction:column;
								border:4px solid #fff;
								border-left:none;
								
				}
				.contenedor ul li a{
								font-size:250%;
				}
      #menu:checked ~ .contenedor{
								margin-left: 0%;
				}
				main{
				background: url('disenoweb.jpg');
				display: block;
				top:0;
				min-height: 2000px;
				background-size: cover;
				padding: 20px;
				
				margin-top:-240px;
}
      
}

main p{
			 height: 200px;
			 display:block;
			 
			 width: 100%;
}
.descripcion{
				width: 90%;
				margin: auto;
				overflow:hidden;
				padding: 10px;
				margin: auto;
				background: rgba(0,0,0,.3);
				border-radius: 30px;
}
.descripcion ul li div { 
				text-align:center;
}
.vista{
				padding: 0px 3% 0 0;
				margin: auto;
				text-align: center;
				font-size: 120%;
				
}
.descripcion ul{
				display: flex;
				padding: 0;
				width: 505%;
				animation: cambio 15s infinite; 
}
.descripcion ul li{
				list-style:none;
				 width: 100%;
				 
}
.descripcion h2{
				font-size: 120%;
}

.descripcion ul li a{
				text-decoration:none;
				color: #fff;
				font-size:250%;
				
}

.descripcion img {
				text-align:center;
				padding: 0 40% 0 40%;
				max-width: 20%;
				max-height: 20%;
}
@keyframes cambio {
				
				0%{margin-left: 0;}
				20%{margin-left: 0;}
				
				25%{margin-left: -202%;}
				45%{margin-left: -202%;}
				
				50%{margin-left: -402%;}
				70%{margin-left: -402%;}
				
				75%{margin-left: -202%;}
				95%{margin-left: -202%;}  
				
			/*  	82%{margin-left: -400%;}
				97%{margin-left: -400%;}   */
}

foother{
      display:flex;
      position:fixed;
				height: 80px;
				bottom:0;
				color: #fff;
				width: 100%;
				justify-content:center;
				background: #212121;
			  box-size: border-box;
}

foother img{
				width: 50px;
				height: 50px;
				padding: 18px;
}
foother p{
				margin-bottom: 0px;
				display:block;
				font-size: 150%;
}

.contenedor{
				background: rgba(0,0,0,.7);
}
.-proyectos{
      margin: 300px 0 0 0;
				border:1px solid rgba(0,0,0,.0001);
				display:flex;
				width: 100%;
				padding: 0;
				justify-content:center;
				flex-wrap:wrap;
				margin-bottom:100px;
}
.-proyectos .text{
				text-align:center;
				font-size: 150%;
				color: #fff;
}
.conteiner{
      border:1px solid yellow
      width: 100%;
				padding: 0;
				margin: 0;
				
}
.conteiner li{
      display:inline-block;
				border:1px solid #fff
				width: ;
				background: rgba(0,0,0,.3);
				border-radius: 30px;
}
.proyect{
				margin-bottom: 103px;
}
.conteiner li a{
				width: 100%;
				text-align:center;
				text-decoration:none;
				display:block;
				padding: px;
				color: #fff;
}
.conteiner li a h2{
				font-size:220%;
				font-family: 'Pacifico', cursive;
				text-shadow:0 0 5px #000, 0 0 15px #000, 0 0 20px #000;
}

.conteiner img{
				max-width: 400px;
				margin: 0;
				width: 95%;
				min-width: 350px;
				border-radius: 15px;
}
span{
				color: #ff001f;
}
.modal{
				display:none;
}
.modal:target {
      display:block;
				position:fixed ;
				background: rgba(0,0,0,.8);
				top:0;
				left:0;
				width: 100%;
				height: 90%;
}
.modal h3{
				color: #fff;
				font-size:30px;
				text-align:center;
				margin: 15px 0;
}
.foto{
				width: 100%;
				height: 90%;
			 display:flex;
			 justify-content:center;
			 align-items:center;
			 padding: 10px;
			 box-sizing:border-box;
}
.foto a{
				color: #fff;
				font-size: 70px;
				text-decoration:none;
}
.foto a:nth-child(2){
				height: 100%;
				margin: 0 10px;
				felx-shrink:2;
}
.foto img{
      max-width: 100%;
      width: 100%;
      height: 100%;
      box-sizing:border-box;
}
.cerrar{
				display:block;
				background: ;
				padding-top: 35px;
				width: 100%;
				margin: auto;
				text-align:center;
				
}

