.contenedor{
				background: rgba(0,0,0,.7);
}
*{
				margin: 0;
}

.-proyectos{
      margin: 300px 0 0 0;
				border:1px solid rgba(0,0,0,.0001);
				display:flex;
				width: 100%;
				padding: 0;
				justify-content:center;
				flex-wrap:wrap;
				margin-bottom:100px;
}
.-proyectos .text{
				text-align:center;
				font-size: 150%;
				color: #fff;
}
.conteiner{
      border:1px solid yellow
      width: 100%;
				padding: 0;
				margin: 0;
				
}
.conteiner li{
      display:inline-block;
				border:1px solid #fff
				width: ;
				background: rgba(0,0,0,.3);
				border-radius: 30px;
}
.proyect{
				margin-bottom: 103px;
}
.conteiner li a{
				width: 100%;
				text-align:center;
				text-decoration:none;
				display:block;
				padding: px;
				color: #fff;
}
.conteiner li a h2{
				font-size:220%;
				font-family: 'Pacifico', cursive;
				text-shadow:0 0 5px #000, 0 0 15px #000, 0 0 20px #000;
}

.conteiner img{
				max-width: 420px;
				margin: 0;
				width: 95%;
				min-width: 350px;
				border-radius: 15px;
}
span{
				color: #ff001f;
}

@media (min-width:780px ){
				nav{
				display:block;
				}
				.descripcion ul li p{
				font-size:300%;
				text-align:center;
		font-family: 'Pacifico', cursive;
		text-shadow: 5px 5px 1px #000;
       }
				
				.tittle{
				color: #fff;
				font-size:500%;
				padding: 10px 200px;
				display:inline-block;
				top:0;
				text-width: bold;
				justify-content:center;
				
      }
      header label{
				display: inline-block;      
				padding: 20px 50px 50px 20px;								
								
				}
				header label img{
				height: 70px;
				width: 70px;
				
      }
				.contenedor{
								position:absolute;
								background: rgba(0,0,0,.7);
								width: 70%;
								margin-left: -70%;
								transition:all 0.5s;
				}
					.contenedor ul{
								flex-direction:column;
								border:4px solid #fff;
								border-left:none;
								
				}
				.contenedor ul li a{
								font-size:250%;
				}
      #menu:checked ~ .contenedor{
								margin-left: 0%;
				}
				main{
				background: url('disenoweb.jpg');
				display: block;
				top:0;
				min-height: 2000px;
				background-size: cover;
				padding: 20px;
				
				margin-top:-240px;
     }
      main{
      				background-attachment: fixed;
      }
}
@media (max-width: 780px){
				header label{
								display:inline-block;
				}
				.descripcion ul li p{
				font-size:150%;
				text-align:center;
		font-family: 'Pacifico', cursive;
		text-shadow: 5px 5px 1px #000;
       }
       main{
				background: url('disenoweb.jpg');
				background-attachment: fixed;
				display: block;
				top:0;
				min-height: 1000px;
				background-size: cover;
				padding: 20px;
				
				margin-top:-240px;
}
				.contenedor{
								position:absolute;
								background: ;
								width: 70%;
								margin-left: -70%;
								transition:all 0.5s;
				}
				.contenedor ul{
								flex-direction:column;
								border:4px solid #fff;
								border-left:none;
							}
				
				#menu:checked ~ .contenedor{
								margin-left: 0%;
				}
				nav{
								display:block;
				}
				.tittle{
				color: #fff;
				font-size:250%;
				padding: 20px;
				display:inline;
				top:0;
				text-width: bold;
				justify-content:center;
}
}